@model IEnumerable<Northwind.Web.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header">
    <h1>
        Products <small>Add, edit and delete products</small>
    </h1>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li class="active">Products</li>
</ol>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td class="active">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="=success"> 
                    @Html.DisplayFor(modelItem => item.SupplierID)
                </td>
                <td class="info"> 
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td class="danger">
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td class="warning">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
               
                <td >
                    <span class="badge">@Html.DisplayFor(modelItem => item.UnitsInStock)</span>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>

</table>


<div class="row">
    <!-- Standard button -->
    <button type="button" class="btn btn-default btn-xs">
        Default Extra
        Small
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        Default
        Small
    </button>
    <button type="button" class="btn btn-success">Default</button>
    <button type="button" class="btn btn-warning btn-lg">
        Default
        Large
    </button>
